@charset "utf-8";

.image {
	padding: 20px;
	background-color: white;

}
.nameP h4 {
	font-weight: bold;
}
hr {
	border: 0.5px solid black;
	background-color: black;
}
.imgP, .desP {
	padding: 20px;
}

.priceP, .des, .add {
	padding: 10px 0px;
}

.priceP {
	font-size: 22px;
	font-weight: 600;
	color: red;
}

.add input {
	background-color: orange;
	padding: 5px 15px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 600;
	color: white;
}

.add input:hover {
	color: black;
}

@media only screen and (min-width: 992px) {
	.imgP {
	text-align: right;
}
}