* {
	box-sizing: border-box;
}

body {
	width: 25%;
	margin: auto;
	background-color: #4b4b4b;
}

.container {
	border: 3px #0000ff solid;
	background-color: white;
}

.header .cancel {
	float: right;
	margin: 10px;
}

.header .avatar {
	text-align: center;
}
.register {
	padding-top: 10px;
	color: red;
}
input[type=password], input[type=text], input[type=submit] {
	width: 100%;
	padding: 5px 10px;
  	margin: 5px 0;
}

#login {
	background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 12px;
  	margin: 5px 0;
}
#login:hover {
	background-color: green;
    color: black;
    border: none;
    padding: 6px 12px;
  	margin: 5px 0;
}

.footer {
	background: #c0c0c0;
	padding: 20px;
	margin-left: -15px;
	margin-right: -15px;
}

#cancel {
	background-color: #f44336;
    color: white;
    border: none;
    padding: 6px;

}
#cancel:hover {
	background-color: #ff0000;
    color: black;
    padding: 6px;
}

.footer p {
	padding: 6px;
}
